<template>
  <div class="container-xxl mt-5">
    <div class="table-header">
      <div class="ms-1 my-1 bolded">
        Тестовое задание
      </div>
      <div class="input-group mb-3 w-300">
        <input type="text" class="form-control" v-model="inputValue" placeholder="Поиск сделок"
               @keyup.enter="getInfo()">
        <button @click="getInfo()" class="btn btn-outline-secondary" type="button">Найти</button>
      </div>
    </div>
    <template v-if="loading">
      <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </template>
    <template v-else>
      <table class="table table-bordered">
        <thead>
        <tr>
          <th></th>
          <th>Название</th>
          <th>Статус</th>
          <th>Ответственный</th>
          <th>Дата создания</th>
          <th>Бюджет</th>
        </tr>
        </thead>
        <tbody>
        <template v-for="deal in deals">
          <tr>
            <td class="ps-3">
              <span v-if="deal.show !== true" @click="deal.show = true">
                показать
              </span>
              <span v-else @click="deal.show =false">
                сверунть
              </span>
            </td>
            <td>{{ deal.name }}</td>
            <td></td>
            <td>{{ deal.responsible_user_name }}</td>
            <td>{{ formatDate(deal.created_at) }}</td>
            <td>{{ formatPrice(deal.price) + ' ₽' }}</td>
          </tr>
          <template v-if="deal.show === true">
            <tr>
              <td>
              </td>
              <td colspan="5">
                {{ deal.contacts.name }}
                <template v-for="contact in deal.contacts.custom_fields_values">
                  <template v-if="contact.values[0] !== undefined">
                    {{ contact.field_code + ' ' + contact.values[0].value }}
                  </template>
                </template>
              </td>
            </tr>
          </template>
        </template>

        </tbody>
      </table>
    </template>

  </div>
</template>
<script lang="ts">
import {defineComponent} from "vue";

const inquiryAPI = function (url: string) {

  return new Promise(function (resolve, reject) {
        fetch(url, {})
            .then((response) => {
              resolve(response.json());
            })
            .catch(error => {
              reject(error)
            });
      }
  )
}

export default defineComponent({
  name: 'App',
  data() {
    return {
      /**
       * данные
       */
      deals: [],
      /**
       * Лоудер
       */
      loading: false,
      /**
       * Значение в инпуте
       */
      inputValue: ''
    }
  },
  methods: {

    /**
     * Метод для получения данных
     */
    getInfo(): void {
      if (!this.loading) {
        this.loading = true;

        let url: string = 'http://localhost:3000/amo/leadse';
        console.log(url)
        if (this.inputValue.length > 0) url = url + '/' + encodeURI(this.inputValue);
        this.deals = [];
        inquiryAPI(url).then((data: any) => {
          if ((data.error === undefined) && (data.message === undefined)) {
            this.deals = data;
          }
          this.loading = false;
        }, error => {
          console.log(error);
          this.loading = false;
        })
      }
    },

    /**
     * Форматирование даты
     * @param date
     */
    formatDate(date: number) {
      let newDate: string = new Date(date * 1000).toLocaleDateString('ru-RU', {
        year: 'numeric',
        month: 'long',
        day: '2-digit',
      }).replace(' г.', '');

      return newDate
    },

    /**
     * Форматирование стоимости
     * @param price
     * @param roundUp
     */
    formatPrice(price: number, roundUp: boolean = true) {

      let newPrice = 0
      if (roundUp === true) newPrice = Math.round(Number(price))
      else newPrice = Number(price)
      return newPrice.toLocaleString('ru-RU')
    }

  },
  created() {
    this.getInfo()
  }

})


</script>


<style scoped>
.table-header {
  display: flex;
  justify-content: space-between;
}


.w-300 {
  width: 300px !important;
}
</style>
